// Debugging style
// * { border: 1px solid red; }

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skipLink:focus {
    left: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
ul,
p,
a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.imageBoxStyle img {
    width: 100%;
    height: 30rem;
    display: block;
    object-fit: cover;
}

h1 {
    font-family: $mainHeaderFont;
    font-size: 3.5rem;
    color: $bodyTextColor;
    text-transform: uppercase;
}

p,
h3,
h4 {
    font-family: $bodyFont;
    color: $bodyTextColor;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

h3,
h4 {
    color: $footerTextColor;
    font-weight: 300;
}
body {
    background-color: $backgroundColor;
}

button {
    width: 160px;
    height: 45px;
    background: $footerColor;
    color: #fff;
    font-size: 1.6rem;
    border: 0;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.4s ease-in-out;
    &:hover, 
    &:focus {
        transition: background-color 0.5s ease-in-out;
        background-color: $buttonHoverColor;
    }
}

p {
    color: #fff;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.4s ease-in-out;

    &:hover, 
    &:focus {
        transition: color 0.4s ease-in-out;
        color: $buttonHoverColor;
    }
}

p {
    color: $bodyTextColor;
}