/*********************/
/* media query styles */
/*********************/
@media (max-width: 750px) {
	.wrapper {
		width: 95%;
    }

	.imageContainer {
		width: calc((100%/2) - 4%);
	}
}

@media (max-width: 420px) {
	.imageContainer {
		width: calc(100% - 4%);
    }

    h1 {
        font-size: 2.8rem;
    } 
}