/* Font Variables */ 
$mainHeaderFont: 'Archivo', 'Arial', sans-serif; // font weight regular 500
$bodyFont: 'Open Sans', 'Arial', sans-serif; // font weight regular 500

/* Color Variables */
$backgroundColor: #EFEFEF; // light gray
$footerColor: #434343; // dark gray
$bodyTextColor: #333; // dark gray
$iconColor: #333;
$buttonHoverColor: #FF2D0E; // red
$footerTextColor: #fff;