/* Font Variables */ 
$mainHeaderFont: 'Archivo', 'Arial', sans-serif;
$bodyFont: 'Open Sans', 'Arial', sans-serif;

/* Color Variables */
$backgroundColor: #EFEFEF; // light gray
$footerColor: #434343; // dark gray
$bodyTextColor: #333; // dark gray
$iconColor: #333;
$buttonColor: #FF2D0E; // red